$hpPlayer: 100%;
$hpEnemyCalculated: calc(100% - 100%);

.battle {
  background: url('../../sprites/stage.jpeg');
  background-size: cover;
  height: 100vh;

  .battle__title {
    font-family: fantasy;
    position: absolute;
    height: 200px;
    top: 200px;
    width: 100%;
    text-align: center;
    font-size: 10rem;
    color: black;
    text-shadow: 2px 2px 5px red;
  }

  .battle__info {
    color: yellow;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    text-align: right;

    & > .character-info:first-of-type {
      text-align: left;

      .character-info__name {
        clip-path: polygon(0 0, $hpPlayer 0, $hpPlayer 100%, 0% 100%);
      }
    }

    .character-info {
      margin: 40px;
      position: relative;
      // background-color: green;
      width: 45%;
      border-radius: 10px;
      position: relative;
      height: 100%;

      .character-info__name {
        margin: 1rem;
        font-size: 2rem;
        z-index: -1;
        padding: 1rem;
        background-color: green;
        border: 4px solid black;
        border-radius: 1rem;
        clip-path: polygon(
          $hpEnemyCalculated 0%,
          100% 0,
          100% 100%,
          $hpEnemyCalculated 100%
        );
      }
    }

    ul {
      display: flex;
      list-style: none;

      li {
        font-size: 4rem;
        margin: 1rem;
        padding: 0 20px 0 20px;
        width: 100%;
      }
    }
  }

  .battle__images {
    img {
      position: absolute;
      bottom: 10px;
      width: 300px;
      transform: scaleX(1);

      &:first-child {
        left: 20%;
        transform: scaleX(-1);
      }

      &:nth-child(2) {
        right: 20%;
      }
    }
  }

  .battle__button {
    position: absolute;
    font-size: 2rem;
    padding: 2rem;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .battle__modal {
    position: absolute;
    height: 200px;
    font-size: 4rem;
    top: 50%;
    left: 50%;
    width: 200px;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    p {
      color: blue;
    }
  }
}
