* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  line-height: 1.5rem;
}

.character__main {
  height: 100vh;
  width: 100%;
  text-align: center;
}

.character__title {
  font-size: 4rem;
  margin-top: 10vh;
}

.character__sub-title {
  color: blue;
  margin-top: 5vh;
  font-size: 2rem;
}

.character__options {
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.character__options p span {
  margin: 40px;
  font-size: 4rem;
}

.character__options p:hover {
  transform: scale(1.1);
}

.character__character-info {
  margin-top: 50px;
  min-height: 20px;
}

.character__character-info ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.character__character-info li {
  text-decoration: none;
  font-size: 2rem;
  margin: 1rem;
}

.character__character-info span {
  font-size: 2rem;
}

@media screen and (max-width: 900px) {
  .select-character__options {
    margin-top: 100px;
  }
}
