* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  line-height: 1.5rem;
}

.select-character__main {
  height: 100vh;
  width: 100%;
  text-align: center;
}

.select-character__title {
  font-size: 4rem;
  margin-top: 5vh;
}

.select-character__sub-title {
  color: blue;
  margin-top: 5vh;
  font-size: 2rem;
}

.select-character__options {
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-character__options p {
  margin: 40px;
  font-size: 4rem;
}

.select-character__options p:hover {
  transform: scale(1.1);
}

.select-character__canvas {
  border: 1px solid black;
}

.select-character__character-info {
  border: solid 1px black;
  height: 20px;
}
